node_modules
# Keep environment variables out of version control
.DS_Store
.env
/prisma/database/prisma
uploads/

package-lock.json

nefrovida-f25f3-firebase-adminsdk-fbsvc-14d902a66a.json
*firebase-adminsdk*.json