.event-card {
  background-color: #e6f3fa;
  border-radius: 1px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  line-height: 1.1;
  box-shadow: 1;
  border: 1px solid #e6f3fa;
}
